.section-four {
  background-size: contain;
  //   border: 2px solid blue;
  //   min-height: 200vh;
  background-position: 10px;
  background-repeat: no-repeat;
  position: relative;
  height: fit-content;
  padding-bottom: 179px;
  overflow-y: hidden;

  & .bg-image {
    position: absolute;
    top: -300px;
    right: 0;
    // width:
  }

  & .spirit {
    padding-top: 108px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    & img {
      position: relative;
      z-index: 2;
    }

    & .items {
      display: flex;
      transform: translate(-20px);

      & .item {
        // padding: 30px 40px;
        max-width: 228px;
        width: 160px;
        height: 123px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-direction: column;
        filter: drop-shadow(4px 4px 19px rgba(176, 176, 176, 0.25));
        box-shadow: 4px 4px 19px rgba(176, 176, 176, 0.25);
        background: white;
        cursor: pointer;
        transition: var(--transition);

        &:hover {
          color: white;
          background: var(--primary-blue);
          transition: var(--transition);
        }

        & p {
          text-transform: capitalize;
        }
      }
    }
  }

  & .middle {
    display: flex;
    position: relative;
    z-index: 2;
    gap: 159px;
    width: fit-content;
    margin: 151px auto;
    align-items: center;

    & .image {
      position: relative;
      //   width: 620px;
      height: 324px;
      //   border: 2px solid red;

      &:before {
        content: "";
        height: 181px;
        width: 181px;
        position: absolute;
        background: var(--primary-blue);
        border-radius: 40px;
        // z-index: 2;
        top: -52px;
        right: 0;
      }
      &:after {
        content: "";
        height: 181px;
        width: 181px;
        position: absolute;
        background: #a6a6a7;
        border-radius: 40px;
        // z-index: 2;
        bottom: -52px;
        left: 0;
      }

      & .play {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 92px;
        height: 92px;
        z-index: 3;

        transform: translateX(-46px) translateY(-46px);
      }

      & .world {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
      }
    }

    & .text {
      width: 301px;
      display: flex;
      gap: 30px;
      flex-direction: column;
      & p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;

        color: #474747;
      }

      & button {
        width: 146px;
        height: 49px;
        display: flex;
        border-radius: 25px;
        background: var(--primary-blue);
        color: white;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        border: none;
        transition: var(--transition);
        cursor: pointer;
        border: 1px solid var(--primary-blue);

        &:hover {
          background: white;
          color: var(--primary-blue);
          transition: var(--transition);
        }
      }
    }
  }

  & .bottom {
    margin-top: 253px;
    // border: 2px solid green;

    & h2 {
      margin-bottom: 50px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 107%;
      text-align: center;
      text-transform: uppercase;

      color: #152344;
    }

    & .foundations {
      position: relative;
      z-index: 2;
      display: flex;
      //   grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: 30px;

      & .item {
        background-repeat: no-repeat;
        min-height: 403px;
        width: 381px;
        max-width: 451.37px;
        max-height: 463.23px;
        display: flex;
        align-items: flex-end;
        // border: 2px solid blue;

        & .text {
          background: rgba(6, 38, 68, 0.8);
          border-radius: 3.70585px;
          height: 50%;
          color: white;
          padding: 28px 27px;
          display: flex;
          flex-direction: column;
          gap: 29px;

          & span {
            border: 2.22351px solid #ffffff;
            width: 147.49px;
          }

          & p {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 20.0116px;
            line-height: 107%;
            text-transform: capitalize;

            color: #ffffff;
          }

          & button {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 300;
            font-size: 14.8234px;
            line-height: 107%;
            /* identical to box height, or 16px */

            color: #ffffff;
            background: transparent;
            border: none;
            width: fit-content;
            text-transform: capitalize;
            cursor: pointer;
          }
        }
      }
    }

    & .navigation {
      margin-top: 50px;
      display: flex;
      //   border: 2px solid red;
      gap: 50px;
      justify-content: center;

      & .arrow {
        cursor: pointer;
      }

      & .pages {
        display: flex;
        gap: 10px;
        align-items: center;
        & .page {
          width: 42.5px;
          height: 3px;
          background: #474747;

          //   border: 3px solid #474747;
        }

        & .active {
          background: #38b6ff;
        }
      }
    }
  }
}
