.pre-nav {
  position: fixed;
  width: 100%;
  z-index: 4;
  display: flex;
  height: 63px;
  top: 10px;

  @media (max-width: $breakpoint-xlarge) {
  }
  @media (max-width: $breakpoint-large) {
    display: none;
  }

  & .center {
    color: white;
    background: #062644;
    border-radius: 194px;

    margin: 0 auto;
    max-width: 1600px;
    // width: 90%;
    display: flex;

    & .item {
      display: flex;
      padding: 14px 30px;
      align-items: center;
      gap: 15px;

      & p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.045em;

        color: #ffffff;
      }
    }

    & .predropdown {
      background: #a6a6a7;
      border-radius: 194px;
      cursor: pointer;
    }
  }
}

.navbar {
  position: fixed;
  top: 86px;
  z-index: 4;
  width: 100%;
  transition: var(--transition);
  margin: 0 auto;
  // border: 2px solid red;

  @media (max-width: $breakpoint-large) {
    top: 23px;
    // max-width: 06px;
  }
  @media (max-width: $breakpoint-tablet) {
    // top: 23px;
    width: 100vw;
  }

  & .nav-center {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 194px;

    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: 0 auto;
    padding: 45px 114px;
    align-items: center;
    max-width: 1664px;
    height: 120px;

    @media (max-width: $breakpoint-tablet) {
      padding: 39px;
      max-width: 406px;
    }

    & .logo {
      & img {
        @media (max-width: $breakpoint-large) {
          height: 54px;
          width: 154px;
        }
        @media (max-width: $breakpoint-tablet) {
          height: 34px;
          width: 124px;
        }
      }
    }

    & .nav-items {
      display: flex;
      gap: 40px;

      @media (max-width: $breakpoint-large) {
        display: none;
      }

      & .item {
        display: flex;
        gap: 10px;
        text-decoration: none;
        cursor: pointer;
        // position: relative;
        flex-direction: column;

        & a,
        p {
          text-decoration: none;
          color: var(--primary-blue);
          font-weight: 700;

          &:hover {
            // color: white;
            cursor: pointer;
          }
        }

        & .drop-item {
          &:hover {
            color: white;
            // cursor: pointer;
          }
        }

        & span {
          cursor: pointer;
        }
      }

      & .border {
        // border-bottom: 2px solid var(--primary-blue);
        border-width: 0;
        position: relative;

        &:after {
          content: "";
          width: 0%;
          height: 2px;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: var(--primary-blue);
          transition: var(--transition);
        }

        &:hover {
          &:after {
            // border-width: 2px;
            transform-origin: left;
            transition: var(--transition);
            width: 100%;
          }
        }
      }
    }

    & .menu {
      display: none;
      cursor: pointer;

      @media (max-width: $breakpoint-large) {
        display: flex;
      }
    }
  }
}
.dropdown {
  position: fixed;
  // top: 60px;
  // left: 0;
  background: white;
  padding: 24px;

  color: black;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 4;

  & a {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: -0.045em;

    color: #152344;
    width: 320px;
    text-transform: capitalize;
    padding: 12px 24px;
    transition: var(--transition);
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: #062644;
      color: white;
      transition: var(--transition);
    }

    & a {
      &:hover {
        background: #062644;
        color: white;
        transition: var(--transition);
      }
    }
  }
}
