.create-post {
  //   border: 2px solid red;
  height: 100%;
  //   width: 100%;
  //   width: fit-content;
  width: 70%;
  max-width: 610px;
  margin: 0 auto;

  & form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & input {
      border-radius: 5px;
      border: 1px solid var(--neutral-gray-30, #c6c6c6);
      background: var(--neutral-gray-10, #fafafa);
      padding: 20px;

      &::placeholder {
        color: #717171;

        /* Body/Regular -14pt */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
    }

    & textarea {
      height: 228px;
    }

    & .form-item {
      display: flex;
      flex-direction: column;
      gap: 5px;

      & label {
        color: #000;

        /* Body/Medium -14pt */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
      }
    }

    & .header {
      & label {
        color: #000;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px; /* 133.333% */
        letter-spacing: -0.6px;
      }
    }

    & .buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 20px;

      & button {
        border-radius: 5px;
        background: #062644;
        box-shadow: 0px 8px 30px 0px rgba(0, 191, 178, 0.1);
        padding: 14px 28px;
        color: #fff;
        text-align: center;

        /* Body/Medium -14pt */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 157.143% */
        width: 190px;
        cursor: pointer;
        border: none;
      }

      & .discard {
        background: #eee;
        color: #000;
      }
    }
  }
}
