.portfolio {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 252px;
  margin-bottom: 156px;
  position: relative;

  & .animation {
    position: absolute;
    top: 0;
    left: 0;
    // border: 2px solid red;
  }

  & .item {
    display: flex;
    max-width: 1424px;
    margin: 0 auto;
    gap: 48px;
    align-items: center;
    // border: 2px solid red;
    width: fit-content;
    justify-content: center;
    height: fit-content;
    transform: scale(0.76, 0.76);

    & .text {
      max-width: 506px;
      // border: 2px solid blue;
      min-height: 400px;
    }

    & .image {
      height: 100%;
      min-height: 400px;
      // border: 2px solid green;
      & img {
        // height: 400px;
        height: 100%;
        // width: 420px;
        width: auto;
        object-fit: contain;
      }
    }

    & h1 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 107%;
      /* identical to box height, or 43px */

      display: flex;
      align-items: center;

      color: #38b6ff;
    }

    & h2 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 107%;
      /* identical to box height, or 26px */

      display: flex;
      align-items: center;

      // color: #ffffff;
    }

    & .description {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      //   justify-content: space-around;
      height: 100%;

      & p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: justify;

        color: #474747;
      }
    }

    & a {
      margin-top: 15px;
      background: transparent;
      border: none;

      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;

      color: #0089ff;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.financial,
.real-estate {
  & .heading-text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #474747;
    max-width: 1068px;
    margin: 80px auto 0px;
  }

  & .bottom {
    & h1 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 27px;
      line-height: 107%;
      /* identical to box height, or 29px */

      color: #062644;
    }
  }
}

.hospitality {
  .top {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    & p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #474747;
      max-width: 1068px;
      margin: 0 auto;
    }

    & a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      display: flex;
      align-items: center;

      color: #0089ff;
      background: transparent;
      width: 99px;
      border: none;
      margin: 0 auto;
    }
  }
}
